[package]
name = "wasmex"
version = "0.2.0"
authors = ["Philipp Tessenow <philipp@tessenow.org>"]
description = "Elixir extension to run WebAssembly binaries"
readme = "README.md"
repository = "https://github.com/tessi/wasmex"
keywords = ["elixir", "extension", "webassembly"]
categories = ["wasm"]
edition = "2018"

[lib]
name = "wasmex"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = "0.21.1"
lazy_static = "1.0"
wasmer = { git = "ssh://git@github.com/wasmerio/wasmer-reborn.git" }
wasmer-vm = { git = "ssh://git@github.com/wasmerio/wasmer-reborn.git" }
