[package]
name = "wasmex"
version = "0.5.0"
authors = ["Philipp Tessenow <philipp@tessenow.org>"]
description = "Elixir extension to run WebAssembly binaries"
readme = "README.md"
repository = "https://github.com/tessi/wasmex"
keywords = ["elixir", "extension", "webassembly"]
categories = ["wasm"]
edition = "2018"

[lib]
name = "wasmex"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = "0.22.0"
lazy_static = "1.4"
wasmer = "2.0"
wasmer-vm = "2.0"
wasmer-wasi = "2.0"
serde = "1.0.126"
typetag = "0.1.7"
