[package]
name = "wasmex"
version = "0.10.0"
authors = ["Philipp Tessenow <philipp@tessenow.org>"]
description = "Elixir extension to run WebAssembly binaries through wasmtime"
readme = "README.md"
repository = "https://github.com/tessi/wasmex"
keywords = ["elixir", "extension", "webassembly", "wasmtime"]
categories = ["wasm"]
edition = "2021"

[lib]
name = "wasmex"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = { version = "0.36.1", features = ["big_integer", "serde"] }
once_cell = "1.21.1"
rand = "0.9.0"
wasmtime = "30.0.2"
wasmtime-wasi = "30.0.2"
wasmtime-wasi-http = "30.0.2"
wasi-common = "31.0.0"
wiggle = "30.0.2"
wat = "1.227.1"
wit-parser = "0.227.1"
convert_case = "0.8.0"
