[package]
name = "wasmex"
version = "0.9.1"
authors = ["Philipp Tessenow <philipp@tessenow.org>"]
description = "Elixir extension to run WebAssembly binaries through wasmtime"
readme = "README.md"
repository = "https://github.com/tessi/wasmex"
keywords = ["elixir", "extension", "webassembly", "wasmtime"]
categories = ["wasm"]
edition = "2021"

[lib]
name = "wasmex"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = { version = "0.34", features = ["big_integer"] }
once_cell = "1.19.0"
rand = "0.8.5"
wasmtime = "23.0.2"
wasmtime-wasi = "23.0.1"
wasi-common = "23.0.1"
wiggle = "23.0.1"
wat = "1.215.0"
tokio = { version = "1.39.1", features = ["full"] }
