[package]
name = "wasmex"
version = "0.9.2"
authors = ["Philipp Tessenow <philipp@tessenow.org>"]
description = "Elixir extension to run WebAssembly binaries through wasmtime"
readme = "README.md"
repository = "https://github.com/tessi/wasmex"
keywords = ["elixir", "extension", "webassembly", "wasmtime"]
categories = ["wasm"]
edition = "2021"

[lib]
name = "wasmex"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = { version = "0.35", features = ["big_integer", "serde"] }
once_cell = "1.20.2"
rand = "0.8.5"
wasmtime = "28.0.1"
wasmtime-wasi = "28.0.0"
wasmtime-wasi-http = "28.0.0"
wasi-common = "28.0.0"
wiggle = "28.0.0"
wat = "1.220.0"
wit-parser = "0.221.2"
convert_case = "0.6.0"
