[package]
name = "wasmex"
version = "0.8.3"
authors = ["Philipp Tessenow <philipp@tessenow.org>"]
description = "Elixir extension to run WebAssembly binaries through wasmtime"
readme = "README.md"
repository = "https://github.com/tessi/wasmex"
keywords = ["elixir", "extension", "webassembly", "wasmtime"]
categories = ["wasm"]
edition = "2021"

[lib]
name = "wasmex"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = { version = "0.31", default-features = false, features = [
    "derive",
    "nif_version_2_15",
] }
once_cell = "1.19.0"
rand = "0.8.5"
wasmtime = "18.0.2"
wasmtime-wasi = "18.0.2"
wasi-common = "22.0.0"
wiggle = "18.0.2"
wat = "1.212.0"
