[package]
name = "wasmex"
version = "0.1.0"
authors = ["Philipp Tessenow <philipp@tessenow.org>"]
description = "Elixir extension to run WebAssembly binaries"
readme = "README.md"
repository = "https://github.com/tessi/wasmex"
keywords = ["elixir", "extension", "webassembly"]
categories = ["wasm"]
edition = "2018"

[lib]
name = "wasmex"
path = "src/lib.rs"
crate-type = ["dylib"]

[dependencies]
rustler = "0.21.0"
lazy_static = "1.0"
wasmer-runtime = {path = "../../../wasmer/lib/runtime", version = "0.16.2"}
wasmer-runtime-core = {path = "../../../wasmer/lib/runtime-core", version = "0.16.2", features = ["dynamicfunc-fat-closures"]}
