name: Elixir Compatibility

on:
  pull_request:
  push:
    branches:
      - main

env:
  MIX_ENV: test
  WASMEX_BUILD: true

jobs:
  test:
    runs-on: ubuntu-latest
    name: OTP ${{ matrix.otp }} / Elixir ${{ matrix.elixir }}
    strategy:
      fail-fast: false
      matrix:
        otp: [25.2, 26.2, 27.0]
        elixir: [1.15.6, 1.16.1, 1.17.0]
        exclude:
          - otp: 27.0
            elixir: 1.15.6
          - otp: 27.0
            elixir: 1.16.1
    steps:
      - uses: actions/checkout@v4
      - uses: erlef/setup-beam@v1
        with:
          otp-version: ${{ matrix.otp }}
          elixir-version: ${{ matrix.elixir }}

      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable

      - name: Add targets
        run: |
          rustup target add wasm32-unknown-unknown
          rustup target add wasm32-wasip1

      - run: mix do deps.get, deps.compile

      - run: mix test
