name: Rust CI

on:
  pull_request:
    paths:
      - "native/wasmex/**"
  push:
    branches:
      - main
    paths:
      - "native/wasmex/**"

defaults:
  run:
    working-directory: ./native/wasmex/

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt, clippy

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: rust-cargo-${{ hashFiles('**/Cargo.lock') }}

      - run: cargo fmt -- --check

      - run: |
          touch src/lib.rs
          # need to disable extra_unused_lifetimes clippy because of rustler lifetime issues
          # https://github.com/rusterlium/rustler/issues/428
          cargo clippy --all-targets --all-features -- -D warnings -A clippy::extra_unused_lifetimes
